/* estilo.css */

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho */
header {
    background-color: #005691;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
}

/* Estilo para o botão de menu */
#menuButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #005691;
    color: #fff;
    border: none;
    cursor: pointer;
}

#menuButton:hover {
    background-color: #777;
}

/* Estilo para o menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Esconde o menu por padrão */
.hidden {
    display: none;
}

/* Estilo para o conteúdo principal */
main {
    padding: 20px;
}

/* Estilo para a seção Sobre Nós com imagem de fundo */
#about {
    background-image: url('imagemfundo.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 40px;
    text-align: center;
}

/* Estilo para o rodapé */
footer {
    background-color: #005691;
    color: #fff;
    text-align: center;
    padding: 10px;
}
